{% extends "frontend/base.html" %}
{% load static %}
{% block title %}Create View{% endblock title%}

{% block headtext %}
	{% if Valid %}
		<p style="color: Green;"><em>{{ Message }}</em></p>
	{% endif %}
	<h2>Account Details</h2>
	<p>Modify your account details</p>
{% endblock headtext %}
{% block container%}
    <div class="tab-list" style="flex: 20%;">
        <div class="tab active" name="account" onclick="openTab(this)">Account</div>
        <div class="tab" name="look-feel" onclick="openTab(this)">Look and Feel</div>
        <div class="tab" name="history" onclick="openTab(this)">History</div>
        <div class="tab" name="set4" onclick="openTab(this)">Setting 4</div>
    </div>
    <div class="tab-content-container">
        <div class="tab-content active" name="account">
            <form action="" method="post" id="studentForm">
                {% csrf_token %}
                <input type="hidden" value="{{ user.id}}" name="userID">
                <p><em><strong>First Name</strong></em> <input type="text" name="firstname" id="firstname" value="{{student.student_first_name}}" required></input></p>
                <p><em><strong>Last Name</strong></em> <input type="text" name="lastname" id="lastname" value="{{student.student_last_name}}" required></input></p>
                <p><em><strong>Boarding House</strong></em> <input list="bhouses" name="bhouse" id="bhouse" value="{{student.boarding_house}}" required/></p>
                <datalist id="bhouses">
                    {% for house in BoardingHouses %}
                        <option value={{ house }}>
                    {% endfor %}
                </datalist>
                <p>
                <p><em><strong>Gender</strong></em></p>
                {% for Gender in Genders %}
                    <input type="radio" id="{{ Gender }}" name="gender" value="{{ Gender }}" required>
                    <label for=" {{ Gender }} ">{{ Gender }}</label><br>
                {% endfor %}
                </p>
                <p><em><strong>Year Group</strong></em> <input list="yeargroups" name="yeargroup" id="yeargroup" value="" required/></p>
                <datalist id="yeargroups" value="{{ student.year_group }}">
                    {% for year in YearGroups %}
                        <option value={{ year }}>
                    {% endfor %}
                </datalist>
                <input type="submit"  id="addButton" class="addBtn" value="Save"></input>
                <button type="reset" id='clearbtn'>Clear All</button>
            </form>
        </div>
        <div class="tab-content" name="look-feel"><p>Theme Come Soon</p></div>
        <div class="tab-content" name="history"></div>
        <div class="tab-content" name="set4"></div>
    </div>
{% endblock container %}

{% block scripts %}
<script>
</script>
{% endblock scripts%}