{% extends "frontend/base.html" %}
{% load static %}
{% block title %}Sheet View{% endblock title%}

{% block headtext %}
	<h2>{{ Event.event_name }} List</h2>
	<p>All students signed up for {{ Event.event_name }}</p>
	<p id="message"></p>
{% endblock headtext %}

{% block column1%}
	{% load tagextras %}

	{% if user|has_group:"Teacher" or user.is_superuser %} 
		<p>
			<form action="/addName/" method="post" onSubmit="return addCycle(event)" id="inputForm">
				{% csrf_token %}
				<!--<input type="text" id="newNameInput" value=""></input>-->
				<input list="names" name="newNameInput" id="newNameInput" value=""/>
				<datalist id="names">
					{% for Student in Students %}
						<option value={{ Student.student_first_name }}>
					{% endfor %}
				</datalist>
				<input type="submit"  id="addButton" class="addBtn" value="Add"></input>
				<button type="reset" id='clearbtn'>Clear All</button>

			</form>
		</p>
	{% else %}
		<p>
			<form action="/sign-up/" method="post" onSubmit="" id="signUpForm">
				{%csrf_token%}
				{{ form.as_p }}
				<p>Max: {{ Event.maximum_capacity }}</p>
				<input type="hidden" name="userID" value="{{ user.id  }}"></input>
				<input type="hidden" name="eventID" value="{{ Event.event_id }}"></input>
				<input type="submit"  id="addButton" class="addBtn" value="Sign Up"></input>
			</form>
		</p>
	{% endif %}
	{% for r in Registered%}
		<!--<p class='name' onclick='remove(this)' data-id="{{ r.registration_id }}"><em> " + u + ". " + names[i].name + " - " + names[i].bhouse + " - Year " + names[i].yeargroup + "</em></p>-->
	{% endfor %}
	{% for r in Registered %}
		<!--<p class="">{{ r.registration_id }} - {{ r.first_name }} - {{ r.sport_name }}</p>-->
	{% endfor %}
{% endblock column1%}
{% block scripts %}
<script>
	/**var students = [
		{{ Students }}
	];
	console.log(students);

	for(var i = 0; i < {{ Students|length }};i++){
		console.log( {{ Students }}[i]);
		/**students.push({
			id: {{ Students.student_id }},
			firstname: "{{ Student.student_first_name }}",
			lastname: "{{ Student.student_last_name }}",
			bhouse: "{{ Student.boarding_house }}",
			yeargroup: "{{ Student.year_group }}",
			gender: "{{ Student.gender }}"
		});
	}**/

	var data = JSON.parse("{{JSON|escapejs}}");

	var EventData = data["Event"];
	var RegisteredStudents = data["Registered"];
	var Students = data["Students"];

	console.log(data);

	var names = [];//["Ronaldo" , "Messi" , "Ontario" , "Margaux" , "Jameson", "Mallard" , "Lingard" , "Jenkins" , "Caboose" , "Sarge" , "Agent Texas" , "Agent Washington" , "Agent Mane"];

	var container = document.getElementById("container");
	var form = document.getElementById('inputForm');
	var input = document.getElementById('newNameInput');
	var addbtn = document.getElementById('addButton');
	var clearBtn = document.getElementById('clearbtn');
	//var nameElems = document.querySelectorAll('.name'); //These will be added dynamically so this wont make sense like this
	
	window.onload = function() {
		document.querySelector("#headtext h2").innerHTML = EventData["day"] + " " +EventData["session"] + " " + EventData["event_name"] + " <br> Year " + EventData["year_group"] + " " + EventData["gender"] + "s ";
		document.querySelector("#headtext p").innerHTML = "All students signed up for " + EventData["event_name"] + " on " + EventData["day"] + " " + EventData["event_date"];
		for(var s in Students){	
			document.querySelector("#names").innerHTML += "<option id = '" + Students[s]["student_id"] + "' value='" + Students[s]["student_first_name"] + " " + Students[s]["student_last_name"] + "''>";
		}
		DisplayStudents();
	}

	function DisplayStudents(){
		
		nameElems = document.querySelectorAll('.name');
		
		nameElems.forEach(function(a) {
		  a.remove()
		})
		
		var column1 = document.getElementById("column1");
		var column2 = document.getElementById("column2");
		var currentColumn = column1;
		count = 0;
		for(var Student in RegisteredStudents){
			count++;
			if(count-1 >= 20){
			   break;
			}
			if(count-1 >= 10){
				currentColumn = column2;
			}
			currentColumn.innerHTML += "<p class='name' onclick='remove(this)' id=" + RegisteredStudents[Student]['student_id'] + "><em>" + count + ". " + RegisteredStudents[Student]['student_first_name'] + " " + RegisteredStudents[Student]['student_last_name'] + " - " + RegisteredStudents[Student]['boarding_house'] + " - Year " + RegisteredStudents[Student]['year_group'] + "</em></p>";// 1. John
		}

		document.getElementById('newNameInput').focus();
		
	}

	//displayNames(names);
	
	//calls add and render function also prevents default
	function addCycle(e){
		e.preventDefault();
		addName();
		DisplayStudents();
	}
	
	addbtn.addEventListener("click", function(event) {
		//alert("btn clicked");
		// Number 13 is the "Enter" key on the keyboard
		// Cancel the default action, if needed
		event.preventDefault();
		//alert("submitted");
		addName();
		DisplayStudents();
	});
	
	input.addEventListener("keyup", function(event) {
		//alert("key press");
		// Number 13 is the "Enter" key on the keyboard
		if (event.keyCode === 13) {
			// Cancel the default action, if needed
			event.preventDefault();
			addName();
			DisplayStudents();
		}
		event.preventDefault();
	});

	clearBtn.addEventListener("click", function(event) {

		event.preventDefault();
		console.log("Clearing");
		clearAll();
		DisplayStudents();
	});
	
	//added names to array --DEPRACATED FUNCTION
	function displayNames(nameList){
		
		nameElems = document.querySelectorAll('.name');
		
		nameElems.forEach(function(a) {
		  a.remove()
		})
		
		var column1 = document.getElementById("column1");
		var column2 = document.getElementById("column2");
		var currentColumn = column1;
		for(var i = 0; i < Students.length; i++){
			if(i >= 20){
			   break;
			}
			if(i >= 10){
				currentColumn = column2;
			}
			var u = i+1;
			currentColumn.innerHTML += "<p class='name' onclick='remove(this)' data-id=" + Students[i].signupid + "><em>" + u + ". " + names[i].name + " - " + names[i].bhouse + " - Year " + names[i].yeargroup + "</em></p>";// 1. John
		}

		document.getElementById('newNameInput').focus();
		
	}
	
	//adding names
	function addName() {
		document.querySelector("#message").innerHTML = "";
		var input = document.getElementById('newNameInput') ? document.getElementById('newNameInput') : "";
		var buffer = input != "" ? input.value : "";
		for(var s in Students){
			teststr = Students[s]["student_first_name"] + " " + Students[s]["student_last_name"];
			console.log(teststr);
			if(buffer.toLowerCase() == teststr.toLowerCase()){
				if(typeof RegisteredStudents[s] == "undefined"){
					RegisteredStudents[s] = Students[s];
				}else{
					document.querySelector("#message").innerHTML = "<span style='color: red;'><em><strong>" + Students[s].student_first_name +"</strong> is already signed up</em><span>";
				}
			}
		}
		//console.log(newName);
		
		/**if(newName !== ''){
			RegisteredStudents[newName.student_id] = newName;
			/**const name = {
				id : newName.id,
				signupid : Date.now(),
				name: newName.firstname + " " + newName.lastname,
				bhouse: newName.bhouse,
				yeargroup: newName.yeargroup,
				gender: newName.gender
				
			};**/
			//names.push(name);
			//console.log(names);
		//}
		input.value = '';
		input.focus();
		
	}
	
	//removing names
	function remove(el) {
		//console.log(el.getAttribute("data-id"));

		for(var r in RegisteredStudents){
			//console.log(names[i].id);
			if(RegisteredStudents[r].student_id == el.id){
				//console.log(names[i].id);
				//names.splice(i,1);

				delete RegisteredStudents[r];
				el.remove();
				//console.log(names);
				//console.log("Name removed.");
				DisplayStudents();
				return;
			}
		}
		console.log("Indexed element outside of array. Name may not have been stored, or array not as long as specified.");
	}


	// clear all names
	function clearAll(){
		RegisteredStudents = [];
		displaysStudents();
	}
	
	function revertToLastSave(){
		RegisteredStudents = data["Registered"];
	}

</script>
{% endblock scripts%}